*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------- NAVBAR ---------- */
.header{
  background-color: grey;
}
.nav-container{
  height: 60px;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-container h4{
  font-size: 1.5rem;
}

.nav-category-list a{
  font-weight: 600;
  text-decoration: none;
  color: black;
  padding: 0.5rem;
}
.nav-category-list a:hover{
  color: white;
  text-shadow: 2px 2px black;
}

.nav-cart-icon{
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-cart-icon:hover{
  color: white;
}

/* ---------- ITEM LIST CONTAINER ---------- */
.item-list-container{
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}