*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:hover{
  cursor:pointer;
}

.cartQuantity{
  height: 28px;
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  font-weight: 550;
  font-size: 16px;
  top: 10px;
  right: 5px;
  padding: 0px 5px;
  border-radius: 30%;
  color: white;
}